body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility; 
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
    box-shadow: 0 0 0px 1000px white inset !important; 
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

a {
    color: #11071f;
    text-decoration: none;
}

a:hover {
    color: #11071f;
}

h1, h2, h3, h4, h5, h6 {
   /* font-family: 'Noto Serif KR', sans-serif;*/
    margin: 0.45em 0em;
}

h1 {
    font-weight: 900;
    font-size: 1.65em;
}

h2 {
    font-weight: 900;
    font-size: 1.55em;
}

h3 {
    font-weight: 00;
    font-size: 1.45em;
}

h4 {
    font-weight: 700;
    font-size: 1.35em;
}

h5 {
    font-weight: 600;
    font-size: 1.25em;
}

h6 {
    font-weight: 600;
    font-size: 1em;
}

.container{
    margin-top: 50px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

ul.nav {
    display: inline-block;
}

nav ul.nav li.nav-item {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    display: inline-block;
    padding: 0 1em;
}

a.mobile-menu {
    font-size: 1.25em;
    line-height: 1.25em;
    padding-left: 0.35em;
    padding-right: 0.35em;
}

footer ul.footer-nav {
    padding: 0;
    list-style-type: none;
}

.resp-img {
    width: 100%;
}

.full-basic-segment {
    margin: 1rem 0rem;
    padding: 1rem 0rem;
}

div.footer-style, #footer-style {
    /*background-color:;
    color:;*/
    padding: .25em;    
    margin: 0em !important; 
    background: #f9f9f9;
}

.grid.sign-up{
    margin-left: -1rem !important;
    margin-right: 1rem !important;
}

.sign-up{
    padding: 5rem 2rem !important;
    background: #f2f2f2;
}


footer a {
    color: #11071f;
    opacity: .5;   
}

footer a:hover {
    color: #cca5ff;
    font-weight: 700;
    border-bottom: 1px solid #cca5ff;
    opacity: 1;
}

h2 {
    color: #11071f;
}

#page-banner {
    background-color: #6491E1;
    color: #ffffff;
    padding: 2em;    
    margin: 0em !important;
    font-size: 1em;
    font-weight: 600;
}

.banner-message {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

img.logo {
    width: 180px;
    height: auto;
}
/*
nav {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}*/
.mobile-menu {
    display: inline-block;
    font-size: 1.28571429em;
}

.flex-valign {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

div.search-nav {
    display: inline-block;
}

ul.nav {
    display: inline-block;
}

a.productImageLink {
    color: black;
}

.header a.productImageLink {
    color: black;
}




.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #cca5ff;
}

.sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





.sidefilter {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    opacity: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidefilter a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidefilter a:hover{
    color: #f1f1f1;
}

.sidefilter .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidefilter {padding-top: 15px;}
  .sidefilter a {font-size: 18px;}
}

#sideFilterButtons {
    text-align: center;
}

.button a, .button a:hover, .button a:visited {
    color: #ffffff;
}


#cart_headers {
    margin: 0px;
}

.ui.grid+.grid#cart_div {
    padding: 0px;
    margin-top: 0px;
}

i.icon.q-cart {
    font-size: 0.8em !important;
    margin: 1em !important;
    color: #888888 !important;
}

nav a {
    color: #000000;
}

nav a:hover {
    color: #000000;
    border-bottom: 1px solid #cca5ff;
}

h2 a {
    color: #000000;
}

h2 a:hover {
    color: #cca5ff;
}


/*Stripe Checkout*/
.StripeElement {
    margin: 0px;
    outline: 0px;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 0 0 0 transparent inset;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
  }
  
  .StripeElement--focus {
    color: #6b7c93;
    border: 1px solid #11ddae;
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--focus + label {
    color: #6b7c93;
  }
  
  .StripeElement:focus + label {
    color: #6b7c93;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  
  input:not([type]):focus:not([readonly]),
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=url]:not(.browser-default):focus:not([readonly]),
  input[type=time]:not(.browser-default):focus:not([readonly]),
  input[type=date]:not(.browser-default):focus:not([readonly]),
  input[type=datetime]:not(.browser-default):focus:not([readonly]),
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
  input[type=tel]:not(.browser-default):focus:not([readonly]),
  input[type=number]:not(.browser-default):focus:not([readonly]),
  input[type=search]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border: 1px solid #11ddae;
    -webkit-box-shadow: 0 1px 0 0 #e6ebf1;
            box-shadow: 0 1px 0 0 #e6ebf1;
  }
  
  .input-field .prefix.active {
    color: #11ddae;
  }
  
  input:not([type]):focus:not([readonly]) + label,
  input[type=text]:not(.browser-default):focus:not([readonly]) + label,
  input[type=password]:not(.browser-default):focus:not([readonly]) + label,
  input[type=email]:not(.browser-default):focus:not([readonly]) + label,
  input[type=url]:not(.browser-default):focus:not([readonly]) + label,
  input[type=time]:not(.browser-default):focus:not([readonly]) + label,
  input[type=date]:not(.browser-default):focus:not([readonly]) + label,
  input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
  input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
  input[type=number]:not(.browser-default):focus:not([readonly]) + label,
  input[type=search]:not(.browser-default):focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #11ddae;
  }
